<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <form action="/process" method="POST">
            <p>Email Address: <input type="text" name="email" placeholder="your email"></p>
            <p><button type="submit" class="btn btn-dark">Submit</button></p>
        </form>

        {% with warnings = get_flashed_messages() %}
            {% if warnings %}
                {% for warning in warnings %}
                <p class=text-danger>{{warning}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
  </body>
</html>