<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
</head>
<body>
    <h3>User {{ user[0]['id'] }}</h3>
    <p>Full Name: {{ user[0]['first_name']}} {{ user[0]['last_name'] }}</p>
    <p>Email: {{user[0]['email'] }}</p>
    <P>Created on: {{user[0]['created_at']}}</P>
    <p>Last Update on: {{user[0]['updated_at'] }}</p>
    <p>
        <form action="/users/<id>/edit" method ="get">
            <input type="submit" value = "Edit">
        </form>
        <form action="">
            <input type="submit" value="Delete">
        </form>
    </p>
</body>
</html>