<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
        <h3>Login and Registration</h3>
        <h4>Register here!</h4>
        <form action="/validate" method = "post">
            {% with warnings = get_flashed_messages() %}
                {% if warnings %}
                    {% for warning in warnings %}
                    <p class=text-danger>{{warning}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>First name:<br>
                <input type="text" name ='fname' placeholder="first name"></p>
            <p>Last name:<br>
                <input type="text" name="lname" placeholder="last name"></p>
            <p>Email: <br>
                <input type="text" name = "email" placeholder="email" ></p>
            <p>Password:<br>
                <input type="text" name="pw" placeholder="password">
            </p>
            <p>Confirm password:<br>
                <input type="text" name="confirm_pw" placeholder="confirm password">
            </p>
            <p><button type="submit" class="dark">Register</button></p>
        </form>

        <form action="/login" method="post">
            <h3>Login here!</h3>
                <p>Email:<br>
                    <input type="text" name="email"></p>
                <p>Password:<br>
                    <input type="text" name="password">
                </p>
                <p><button type="submit" class="dark">Login!</button></p>
        </form>
    </div>
  </body>
</html>